# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/
ENV/
env/

# Local storage & artifacts
storage/
.trivy-cache/
trivy.sarif

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env files
.env